.CarouselCard__active {
  height: 15rem;
  width: 10rem;
  background-color: green;
  transform: translateX(-0%);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.CarouselCard__Inactive {
  height: 15rem;
  width: 10rem;
  background-color: red;
  transform: translateX(-0%);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.FeatureProductImg {
  height: 15rem;
}
