.CarouselCard__active {
  width: 100%;
  background-color: green;

  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  display: inline-flex;
}

.CarouselCard__Inactive {
  display: none;
}
.FeatureProductImg {
  height: 25rem;
  padding: 1rem;
}
