.productCard {
  display: flex;
  border: 2px solid black;
  margin: 1rem;
  max-width: 10rem;
  padding: 1rem;
  width: 14rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  .productCard_Title {
    color: black;
  }

  .productCard_Image {
    height: 11rem;

    border-radius: 1rem;
  }
}
